*.iml
android/.idea
android/.gradle
android/local.properties
android/keystore
android/keystore.asc
android/keystore.properties
android/*.apk
android/*sha256sum.txt
/.idea
.DS_Store
/captures
.externalNativeBuild
.cxx
*.so
target
.cargo/
app/src/main/jniLibs
macos/cert.pem
linux/Grim.AppDir/AppRun
.intentionally-empty-file.o