*.iml
android/.gradle
android/local.properties
android/keystore
android/keystore.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.so

# Added by cargo
/target
/.cargo/
/app/src/main/jniLibs
