*.iml
android/.gradle
android/local.properties
android/keystore
android/keystore.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.so
/target
/.cargo/
/app/src/main/jniLibs
/macos/Grim.app/Contents/MacOS/grim-bin
/macos/cert.pem
.intentionally-empty-file.o