[submodule "wallet"]
	path = wallet
	url = https://code.gri.mw/ardocrat/wallet
	branch = grim-staging
[submodule "tor/webtunnel"]
	path = tor/webtunnel
	url = https://code.gri.mw/WEB/webtunnel
	branch = grim
