<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Grim"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Main">

        <provider
                android:name=".FileProvider"
                android:authorities="mw.gri.android.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/paths" />
        </provider>

        <activity
                android:launchMode="singleTask"
                android:name=".MainActivity"
                android:configChanges="orientation|screenSize"
                android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.lib_name" android:value="grim" />
        </activity>
        <service android:name=".BackgroundService" android:stopWithTask="true" />
    </application>

</manifest>